{% extends "network/layout.html" %}
{% load static %}

{% block body %}

{#  The following-posts view is only active when a user is authenticated #}
  <div id="following-post-view">
    <h6>Following Posts</h6>
  </div>

{% comment %}
*** Note
HTML for the pagigated section of this template is loaded from layout.html
***
{% endcomment %}

{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{#    <script src="{% static 'network/common.js' %}"></script>#}
{% endblock %}
