{% extends "network/layout.html" %}
{% load static %}

{% block body %}

  {#  Show the new post form only if the user is authenticated    #}
  {% if user.is_authenticated %}
    <div id="new-post-view">
      {#  This view will be active only when the user is authenticated       #}
      <h6>New Post</h6>
      <form id="post-form">
        <label for="post-body"></label>
          <textarea class="form-control" id="post-body" placeholder="Type New post here"></textarea>
          <input type="submit" value="Post" onclick="post_it()" class="btn btn-primary btn-sm" />
      </form>
    </div>
  {% endif %}

  <div id="all-post-view">
    <h5>All Posts</h5>
    {% if user.is_authenticated %}
      <span style="background-color: #b0f6f6">Note: Your ownposts are shaded in blue. Click on the post to update</span>
    {% endif %}
  </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}
