{% extends "network/layout.html" %}
{% load static %}

{% block body %}

  <div id="new-post-view">
    {#  This view will be active only when the user is authenticated       #}
    {#  In addition, one of the following 2 views will be active           #}
    <h6>New Post</h6>
    <form id="post-form">
      <label for="post-body"></label>
        <textarea class="form-control" id="post-body" placeholder="Body"></textarea>
        <input type="submit" value="Post" onclick="post_it()" class="btn btn-primary btn-sm" />
    </form>
    </div>

    {#  Note: Only one of the following 2 views will be active at a time   #}
    {#  The all-post-view is the default view for unauthenticated users    #}

{#  <div w3-include-html="pagination.html"></div>#}

  <div id="all-post-view">
      <h6>All Posts</h6>
        <div class="pagination">
          <span class="step-links">
            {% if page_obj.has_previous %}
{#            <a href="?page=1">&laquo; first</a>#}
{#            <a href="?page={{ page_obj.previous_page_number }}">previous</a>#}
              <span style="float: right">
                <a class="btn btn-primary btn-sm" href="?page={{ page_obj.previous_page_number }}">Previous Page</a>
              </span>
              <br>
            {% endif %}

            {% for post in page_obj %}
              <div class="posts">
                {% if post.user.username == user.username %}
                  <div class="match">
{#                ***                                                                         #}
{#                class = "match" is used in the Javascript code to to identify posts         #}
{#                by the authenticated user, and highlight the post for additional processing #}

                    <table class = "table table1 table-sm">
                      <tr>
                          <td><a href="{% url 'resume' post.user.id %}">
                                <b>{{ post.user.first_name }} {{ post.user.last_name }}</b>
                              </a>
                          </td>
                          <td id="likes"><img src="{% static 'like-128.jpg' %}" alt="Likes"> &nbsp {{ post.likes }}</td>
                          <td><span style="float: right">{{ post.timestamp }}</span></td>
                      </tr>
                    </table>
                    {{ post.body }}

                  </div>
                {% else %}
                  <div class="nomatch">
{#                *** Posts under this div do not belong to the authenticated user#}
                    <table class = "table table1 table-sm">
                    <tr>
                        <td><a href="{% url 'resume' post.user.id %}">
                              <b>{{ post.user.first_name }} {{ post.user.last_name }}</b>
                            </a>
                        </td>
  {#                      <td width="40%"><b>{{ post.user.first_name }} {{ post.user.last_name }}</b></td>#}
                        <td id="likes"><img src="{% static 'like-128.jpg' %}" alt="Likes"> &nbsp {{ post.likes }}</td>
                        <td><span style="float: right">{{ post.timestamp }}</span></td>
                    </tr>
                    </table>
                    {{ post.body }}

                  </div>
                {% endif %}

            </div>
          {% endfor %}

          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
{#          <a href="?page={{ page_obj.next_page_number }}">next</a>#}
{#          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
            <span style="float: right">
              <a class="btn btn-primary btn-sm" href="?page={{ page_obj.next_page_number }}">Next Page</a>
            </span>
          {% endif %}
        </span>
      </div>
    </div>

{#  The following-posts view is only active when a user is authenticated #}
  <div id="following-post-view">
    <h5>Following Posts</h5>
{#  TODO - Add elements to display all posts from users being followed#}
  </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
    <script src="{% static 'network/common.js' %}"></script>
{% endblock %}
