{% load static %}

<!DOCTYPE html>
<html lang="en">

{#  *** MNG update #}
{#  Added the following line in additon to the favicon.ico in the \static\network folder #}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
{#  *** End #}

    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">

{#  *** MNG update #}
{#  The following block can be overridden by child templates #}
        {% block script %}
        {% endblock %}
{#  *** End #}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Network</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" id="username" href="{% url 'resume' user.id %}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'following_posts' user.id %}">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>

        <div class="container">
            {% block body %}
            {% endblock %}

{##}
        <div class="pagination">
          <span class="step-links">
            {% if page_obj.has_previous %}
              <span style="float: right">
                <a class="btn btn-primary btn-sm" href="?page={{ page_obj.previous_page_number }}">Previous Page</a>
              </span>
              <br>
            {% endif %}

            {% for post in page_obj %}
              <div id="posts">
                <table class = "table table1 table-sm">
                  <tr>
                      <td class="w-40"><a href="{% url 'resume' post.user.id %}">
                            <b>{{ post.user.first_name }} {{ post.user.last_name }}</b>
                          </a>
                      </td>

                      <td class="w-15" style="text-align: right" id="votes">Votes:  <b>{{ post.num_votes }}</b>&nbsp</td>
                      <td class="w-10" style="text-align: center" id="vote-btn">
                        {% if user.is_authenticated and user.id != post.user.id %}
{#                          The toggle vote button label depends on whether or not the user has voted for the post    #}
{#                          'has_my-vote is set to 'None' if yes and 'False' if no                                    #}
                          {% if post.has_my_vote == None %}
                            <button class="btn btn-outline-primary btn-sm" id="vote_btn" onclick="toggle_vote(this, {{ post.id }})"> Vote Down</button>
                          {% else %}
                            <button class="btn btn-outline-primary btn-sm" id="vote_btn" onclick="toggle_vote(this, {{ post.id }})"> Vote Up</button>
                          {% endif %}
                        {% endif %}
                      </td>
                      <td class="w-30"><span style="float: right">{{ post.timestamp }}</span></td>
                  </tr>
                </table>

                {% if post.user.username == user.username %}
                    <div class="match" onclick="show_post_form(this, {{ post.id }})">
                      {#  ***                                                                           #}
                      {#  class = "match" is used in the Javascript code to to identify posts           #}
                      {#  by the authenticated user, and highlight the post for additional processing   #}
                      {{ post.body }}
                    </div>
                {% else %}
                  <div class="nomatch">
                    {{ post.body }}
                  </div>
                {% endif %}
              </div>
            {% endfor %}

            {% if page_obj.has_next %}
              <span style="float: right">
                <a class="btn btn-primary btn-sm" href="?page={{ page_obj.next_page_number }}">Next Page</a>
              </span>
            {% endif %}
          </span>
        </div>
        </div>

    </body>
</html>
