{% extends "network/layout.html" %}
{% load static %}

{% block body %}

  <div id="user-resume-view">
  {#  Table to display the Resume header   #}
    <table class="table table1 table-borderless table-sm">
      <tr>
        <td><b>{{ resume.user.first_name }}'s resume</b></td>
        <td id="followers">Followers: </td>
        <td>
          {% if user.is_authenticated and user != resume.user %}
            <button class="btn btn-primary btn=sm" id="follow_btn" onclick="toggle_follow({{ resume.user.id }})">Follow</button>
            {# Update the lable for the Follow button #}
            <script>set_btn_text({{ resume.user.id }})</script>
          {% endif %}
        </td>
      </tr>
      {#  Update the follower count     #}
      <script>follower_count({{ resume.user.id }})</script>
    </table>

    {#  Table to display the Resume details    #}
    <table class="table table-borderless table-sm">
      <tr>
          <td class="w-15" align="right">Full Name : </td>
          <td class="w-60"><b> {{ resume.user.first_name }} {{ resume.user.last_name }}</b></td>
      </tr>
      <tr>
          <td align="right">Company / Position :</td>
        <td><b>{{ resume.company }} -- {{ resume.job }}</b></td>
      </tr>
      <tr>
          <td align="right">Narative : </td>
          <td>{{ resume.narative }}</td>
      </tr>
    </table>
  </div>

  {#  Display all posts associated with the Resume    #}
  <div id="resume-user-post-view">
    <h6>{{ resume.user.first_name }}'s Posts</h6>
  </div>

{% comment %}
  *** Note
  HTML for the pagigated section of this template is loaded from layout.html
  ***
{% endcomment %}


{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}
