tml {
    font-family: Arial, sans-serif;
}

#new-post-view {
    margin-top: 20px;
    //margin-right: 5px;
    //margin-left: 5px;
    margin-bottom: 20px;
}

textarea {
    height: 100px;
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
}

.posts {
    max-height: 150px;
    overflow-y: auto;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
}

//.body {
//    padding: 20px;
//    margin: 5px;
//    border: 1px solid black;
//    min-height: 100px;
//    white-space: pre-wrap;
//}